:root {
  --font-sans: 'Noto Sans', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  --font-size-body-sm: 0.7rem;
  --font-size-body-md: 0.8rem;
  --font-size-body-lg: 0.9rem;

  --font-size-heading-sm: 1.5rem;
  --font-size-heading-md: 3rem;
  --font-size-heading-lg: 4rem;
}
