.button {
  font-family: var(--font-sans);
  font-weight: 600;
  cursor: pointer;
  border: 0;
  padding: 8px 16px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    color: var(--app-color-background);
    background-color: var(--app-color-primary);
  }

  &.text {
    background-color: transparent;
  }
}
