.card {
  background-color: var(--color-surface);
  flex: 1;

  &.primary {
    border-color: var(--color-border);
  }
}

.button {
  height: 3rem;
}

.inner {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.headline {
  text-align: center;
  min-height: 130px;

  h2 {
    font-weight: 400;
  }
  p {
    color: var(--color-text);
  }
}

.icon {
  background-color: var(--color-surface);
  color: var(--color-text);
}

.features {
  width: 100%;
}
