.card {
  flex: 1;

  &.primary {
    border-color: blue;
  }
}

.button {
  height: 3rem;
}

.inner {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.headline {
  text-align: center;
  min-height: 130px;

  h2 {
    font-weight: 400;
  }
  p {
    color: color-mix(in oklab, #1e293b 60%, transparent);
  }
}

.icon {
  &.primary {
    background-color: var(--app-color-primary);
    color: #fff;
  }
}

.features {
  width: 100%;
}
