.container {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  div {
    flex: 1 0 calc(100% / 3);
  }
}

.headline {
  text-align: center;

  h2 {
    font-size: 3rem;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    font-size: 1.2rem;
  }
}
