.header {
  position: fixed;
  background-color: var(--color-background);
  width: 100%;
  z-index: 10;
  color: var(--color-text);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }

  .links {
    @media (max-width: 867px) {
      display: none;
    }
  }
}
