.text {
  font-size: var(--font-size-body-md);
  font-weight: 300;
  margin: var(--space-xs) 0;

  &.small {
    font-size: var(--font-size-body-sm);
  }

  &.large {
    font-size: var(--font-size-body-lg);
  }

  &.monospace {
    font-family: var(--font-mono);
  }
}
