.text {
  font-size: 1rem;
  font-weight: 300;

  color: var(--color-text);

  &.muted {
    color: var(--color-text-muted);
  }

  &.small {
    font-size: 0.8rem;
  }

  &.large {
    font-size: 1.2rem;
  }
}
