.wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  @media (max-width: 867px) {
    display: block;
    > div {
      margin-bottom: 2rem;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
    li {
      display: flex;
      align-items: center;
      gap: 12px;
      list-style: none;
    }
  }
}
