.container {
  height: 64px;
  width: 64px;
  min-width: 64px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 64px;
    width: 64px;
    object-fit: cover;
  }
}
