.button {
  font-family: var(--font-sans);
  font-size: var(--font-size-md);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  padding: var(--space-xs) var(--space-sm);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.primary {
    color: var(--color-background);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-active);
      border-color: var(--color-primary-active);
    }
  }

  &.secondary {
    color: var(--color-background);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-hover);
      border-color: var(--color-secondary-hover);
    }

    &:active {
      background-color: var(--color-secondary-active);
      border-color: var(--color-secondary-active);
    }
  }

  &.text {
    background-color: transparent;
    color: var(--color-text);

    &:hover {
      background-color: var(--color-surface);
      color: var(--color-primary);
    }
  }

  &.small {
    font-size: var(--font-size-sm);
  }

  &.large {
    padding: var(--space-xs) var(--space-lg);
    font-size: var(--font-size-lg);
  }
}
