.card {
  padding: 0;
  background-color: var(--color-surface);
}

.content {
  padding: 0 var(--space-md) var(--space-md);
}

.icon {
  background-color: var(--app-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 1rem;
  position: absolute;
  bottom: var(--space-md);
  left: var(--space-md);
}

.cover {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-size: cover;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
